body {
  background-color: #f0dfc0;
}
body p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  text-align: center;
  color: #361c15;
}
body nav {
  color: #d37611;
  text-align: center;
}
body ul {
  display: inline-block;
}
body ul li {
  align-items: center;
}
body a {
  color: #361c15;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
}
body ol li {
  display: inline-block;
}
body header ul li {
  width: 300px;
}
body header h1 {
  color: #d37611;
}
body header nav img {
  width: 30%;
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 90px;
}
body header nav p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section {
  size-adjust: 100px;
}

header {
  background-color: #f0dfc0;
}
header p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  text-align: center;
  color: #361c15;
}
header img {
  border-radius: 50px;
  padding-top: 30px;
}

.NavigationOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  background-color: #f0dfc0;
  border-radius: 12px;
  background-image: linear-gradient(-152deg, #f0dfc0, #361c15);
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}

.NavigationTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  background-color: #f0dfc0;
  border-radius: 12px 11px;
  background-image: linear-gradient(-152deg, #f0dfc0, #361c15);
  margin-bottom: 1.5%;
}

.CajitasUwu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  column-gap: 100px;
  row-gap: 50px;
  padding: 50px;
  background-color: #361c15;
  border-radius: 20px;
}

.flexor {
  display: flexbox;
  align-items: center;
  justify-content: center;
  background-color: #f0dfc0;
  border-radius: 30px;
  size-adjust: 1fr;
}

.Galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150%;
  border-radius: 0%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.CuadraDo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #361c15;
  row-gap: 50px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.parasitito {
  margin-left: 150px;
  margin-bottom: 100px;
  border-radius: 60%;
  border-bottom: 60%;
  border-top: 30%;
  border-right-style: groove;
}

.parra {
  background-color: #f0dfc0;
  border-radius: 50px;
  text-align: center;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
}

header {
  margin: 15px;
}
header h1 {
  font-family: impact, sans-serif;
  font-weight: 200;
  text-align: center;
  color: #d37611;
  border-radius: 60px;
}
header p {
  text-align: left;
  padding-top: 56px;
  padding-bottom: 50px;
}

.titulo-para {
  font-family: impact, sans-serif;
  font-weight: 500;
  text-align: center;
  color: #361c15;
  margin-top: 30px;
  padding: 30px 28px;
  background-image: url("../img/microorganismos-bucales7.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.Proto {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #f0dfc0;
  background-color: #361c15;
}

.Info {
  color: #361c15;
  text-align: center;
  margin-bottom: 150px;
  background-image: url(../img/microorganismos-bucales7.jpg);
}

.TemasO {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #361c15;
  margin-top: 30px;
  padding: 30px 28px;
  background-image: url(../img/microorganismos-bucales7.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.GuiaImagen {
  font-family: impact, sans-serif;
  font-weight: 200;
  text-align: center;
  margin-top: 30px;
  padding: 30px 28px;
  color: #361c15;
  background-image: url(../img/microorganismos-bucales7.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #f0dfc0;
}

.Centro {
  background-color: #d37611;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-large;
  text-align: center;
}

footer {
  color: #f0dfc0;
  text-align: left;
}

.card1 {
  text-align: center;
  padding-top: 40px;
  background-color: #361c15;
  border-radius: 15px;
}

.FooterT {
  background-color: #361c15;
  background-image: linear-gradient(-152deg, #f0dfc0, #361c15);
  border-radius: 50px;
}

.FooT {
  color: #f0dfc0;
}

.card {
  margin-top: 5%;
}

@media only screen and (max-width: 501px) {
  .CajitasUwu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 501px) {
  .CuadraDo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}
@media (min-width: 500px) {
  body nav {
    color: #bf004f;
  }
}
@media (max-width: 500px) {
  .NavigationOne {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
