


$ColorBG: #f0dfc0;
$ColorSD: #361c15;
$ColorTD: #d37611;

$FontPrimary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

// BODY //

body{
    background-color: $ColorBG;

     p {
        font-family: $FontPrimary;
        font-style: oblique;
        text-align: center;
        color: $ColorSD  ;
    }
     
     nav {
        color: $ColorTD;
        text-align:center

    }

    ul{
        display: inline-block;

        li{
            align-items: center;
        }
    }
    
    a{
    color: $ColorSD;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    }
    ol{
        li{
            display: inline-block;
        }
    }
    
    header{

        ul{
            li{
                width: 300px;
            }
        }
        
        h1{
            color: $ColorTD;
        }   

        nav{
            img{
                width: 30%;
                border-radius: 20px;
                margin-left: 100px;
                margin-right: 100px;
                margin-top: 50px;
                margin-bottom: 90px;
            }

            p{
                display: flex;
                flex-direction: row; 
                justify-content: space-around;
            }
        }
    }
}

// SECTION //
 
 section {
    size-adjust: 100px;

}
 
// HEADER //
header{

    background-color: $ColorBG;

    p{
    
    font-family: $FontPrimary;
    font-style: oblique;
    text-align: center;
    color: $ColorSD

    }

    img{
        border-radius: 50px;
        padding-top: 30px;
    }

    
}
    

.NavigationOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around ;
    background-color: $ColorBG;
    border-radius: 12px 11px;
    
}

.NavigationTwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around ;
    background-color: $ColorBG;
    border-radius: 12px 11px;
    
}

.CajitasUwu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  2fr;
    column-gap: 100px;
    row-gap: 50px;
    padding: 50px;
    background-color: $ColorSD;
}

.flexor{
    
    display:flexbox;
    align-items: center;
    justify-content: center;
    background-color: $ColorBG;
    border-radius: 30px;
    size-adjust: 1fr;
}

.Galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 50px; 
}
 
header {
    margin: 15px;

h1 {
    font-family: impact, sans-serif;
    font-weight: 200;
    text-align: center;
    color: $ColorTD;
    border-radius: 60px;

}

p {
    text-align: left;
    padding-top: 56px;
    padding-bottom: 50px;

}

}

.titulo-para {
    font-family: impact, sans-serif;
    font-weight: 500;
    text-align: center;
    color:$ColorSD;
    margin-top: 30px;
    padding: 30px 28px; 
    background-image: url("../img/microorganismos-bucales7.jpg");
    background-size: cover;
    background-attachment: fixed;
    

}

// H2 //

.Proto{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: $ColorBG;
    background-color: $ColorSD;
}

.Info {
    color: $ColorSD;
    text-align: center;
    margin-bottom: 150px;
}
.TemasO {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: $ColorSD;
    margin-top: 30px;
    padding: 30px 28px;
    background-image: url(../img/microorganismos-bucales7.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.GuiaImagen{
    font-family: impact, sans-serif;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
    padding: 30px 28px;
    color: $ColorSD;
    background-image: url(../img/microorganismos-bucales7.jpg);
    background-size:cover;
}

.Centro{
    background-color: $ColorTD;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    text-align: center;
}







// FOOTER //
footer {
    color: $ColorBG;
    text-align: left;
}

.card1 {
    text-align: center;
    padding-top: 40px;
    background-color: $ColorSD;
    border-radius: 15px;
}

.FooterT{
    background-color: $ColorSD;
}



// MEDIA QUERIES //

@media (min-width: 500px ){

    body nav {
        color:#bf004f
    }
   
}

@media (max-width: 500px ) {
    .NavigationOne {
        display:flex;
        justify-content: center;
        justify-content: space-between;
        flex-direction: column;

    }
}