
/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* BODY */

body {
    background-color: #f0dfc0;
    

}

body p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
    color: #361c15  ;
}

body nav {
    color: #d37611;
    text-align:center
}

body nav ul {
display: inline-block;
}

body nav ul a {
    color: #361c15;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

body nav ul a:hover{
    color: #bf004f;
}

body nav ol li{
    display: inline-block;
}

body header nav img{
    width: 30%;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 90px;
 
}

body header nav p {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

body header h1 {
    color: #d37611;
}

body header ul li {

    width: 300px;
    
}




body ul li {

    align-items: center;
}

section {
    size-adjust: 100px;
    
}

/* HEADER */
header{
    background-color: #f0dfc0;
}

header p { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
    color: #361c15;

}

header img {
  border-radius: 50px;
  padding-top: 30px;
   
}

.GridImg {
    max-width: 100%;

}

.NavigationOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around ;
    background-color: #f0dfc0;
    border-radius: 12px 11px;
    
}

.NavigationTwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around ;
    background-color: #f0dfc0;
    border-radius: 12px 11px;
    
}

.CajitasUwu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  2fr;
    column-gap: 100px;
    row-gap: 50px;
    padding: 50px;
    background-color: #361c15;
}

.flexor{
    
    display:flexbox;
    align-items: center;
    justify-content: center;
    background-color: #f0dfc0;
    border-radius: 30px;
    size-adjust: 1fr;
}

.Galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}
/* H1 */

.titulo-para {
    font-family: impact, sans-serif;
    font-weight: 500;
    text-align: center;
    color:#361c15;
    margin-top: 30px;
    padding: 30px 28px; 
    background-image: url("../Proyecto/img/microorganismos-bucales7.jpg");
    background-size: cover;
    background-attachment: fixed;
    

}

/* H2 */

.Proto{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #f0dfc0;
    background-color: #361c15;
}

.Info {
    color: #d37611;
    text-align: center;
}
.TemasO {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #361c15;
    margin-top: 30px;
    padding: 30px 28px;
    background-image: url(../Proyecto/img/microorganismos-bucales7.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.GuiaImagen{
    font-family: impact, sans-serif;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
    padding: 30px 28px;
    color: #361c15;
    background-image: url(../Proyecto/img/microorganismos-bucales7.jpg);
    background-size:cover;
}

.Centro{
    background-color: #361c15;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    text-align: center;
}



/* FOOTER */

footer {
    color: #f0dfc0;
    text-align: left;
}

.card1 {
    text-align: center;
    padding-top: 40px;
    background-color: #361c15;
    border-radius: 15px;
}

/* MEDIA QUERIES */

@media (min-width: 500px ){

    body nav {
        color:#bf004f
    }
   
}

@media (max-width: 500px ) {
    .NavigationOne {
        display:flex;
        justify-content: center;
        justify-content: space-between;
        flex-direction: column;

    }
}

