
// MEDIA QUERIES //

@media (min-width: 500px ){

    body nav {
        color:#bf004f
    }
   
}

@media (max-width: 500px ) {
    .NavigationOne {
        display:flex;
        justify-content: center;
        justify-content: space-between;
        flex-direction: column;

    }
}